:root{
    font-family: 'Roboto','Arial';


    
    
}

body{
    display:flex;
    margin:0;
}

.left-container{
    background-image: url(images/mountain.jpg);
    background-size: cover;
    background-position: center;
    flex:2;
    height:100vh;

}

.right-container{
    flex:3;
    display:flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);

    

}

.logo-container{
    background-color: rgba(0, 0, 0, 0.5);
    height: 11rem;
    margin-top: 30vh;
    padding:0 1rem;
    display:flex;
    justify-content: center;
    align-items: center;


}

.logo-container img{
    height:10rem;
    width:10rem;
    /* margin-right: -5%; */
    /* padding:100px */
}

.logo-container h1{
    color:white;
    font-size: 3rem;
    margin:10% 0;

}

.container-1{
    padding:20vh 2rem 0 2rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}


.container-2{
    padding:0rem 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
  

}

.container-2 p{
    font-size: 1.5rem;
    font-weight: bold;

}

form{
    margin-bottom:1.5rem
}

.input-row{
    display:flex
}



label,input{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    width:100%;
    margin:2px 0 10px 0;
}

input{
    height: 2rem;
    padding:0 10px;
    border:1px #E5E7EB solid;
    border-radius: 5px;
}

input:focus{
    outline:none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

input:focus:valid{
    border:1px lightblue solid;
}

input:focus:invalid{
    border:1px rgb(212, 126, 126) solid;
}

.group{
    flex:1;
    margin-right:4rem;
    row-gap: 12rem;
    max-width: 25rem;
}

.container-3{
    padding: 2rem
}

button[type="submit"]{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(115, 214, 214);
    border:none;
    border-radius: 10px;
    padding:1rem 3rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

button[type="submit"]:hover{
    background-color: rgb(51, 95, 95);
    cursor: pointer;
}

button[type="submit"]:active{
    transform: scale(0.98)
}

.container-3 a{
    font-weight: bold;
    color:rgb(92, 162, 184);
}

.container-3 a:hover{
    
    cursor: pointer;
}